<%= link_to 'New', new_admin_dynamic_content_path, class: 'btn btn-success btn-sm' %>
<hr>
<h3>Dynamic Content</h3>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Value</th>
    <th></th>
    <th></th>
  </tr>

<% @dynamic_contents.each do |dynamic_content| %>
  <tr>
    <td><%= link_to dynamic_content.title, admin_dynamic_content_path(dynamic_content) %></td>
    <td><%= dynamic_content.value %></td>
    <td><%= link_to 'Edit', edit_admin_dynamic_content_path(dynamic_content) %></td>
    <td><%= link_to 'Destroy', admin_dynamic_content_path(dynamic_content), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
