<table width="100%" border="0">
  <tr>
    <td align="right"><%= link_to 'New Snippet', new_admin_dynamic_content_path, class: 'btn btn-success btn-sm' %>
    </td>
  </tr>
</table>
<hr>
<h3>Snippets</h3>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Value</th>
    <th></th>
    <th></th>
  </tr>

<% @dynamic_contents.each do |dynamic_content| %>
  <tr>
    <td><%= link_to dynamic_content.title, admin_dynamic_content_path(dynamic_content) %></td>
    <td><%= strip_tags(dynamic_content.value) %></td>
    <td><%= link_to 'Edit', edit_admin_dynamic_content_path(dynamic_content), class: 'btn btn-warning btn-sm' %></td>
    <td><%= link_to 'Delete', admin_dynamic_content_path(dynamic_content), :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
  </tr>
<% end %>
</table>
