<%= form_for([:admin, @employee]) do |f| %>
    <table width="100%" border="0" class="table">
      <tr>
        <td colspan="2">
          <% if @employee.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

                <ul>
                  <% @employee.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td width="7%">Name:</td>
        <td width="93%"><%= f.text_field :name, class: 'form-control' %></td>
      </tr>
      <tr>
        <td>Details:</td>
        <td><%= f.text_area :details %></td>
      </tr>
      <tr>
        <td>Image:</td>
        <td><%= f.file_field :employee_image %> <%= f.check_box :remove_employee_image %>  Check here to remove existing image.</td>
      </tr>
      <tr>
        <td>Resume:</td>
        <td><%= f.file_field :resume %> <%= f.check_box :remove_resume %> Check here to remove existing resume.</td>
      </tr>
      <tr>
        <td><%= f.submit 'Save', class: 'btn btn-success btn-sm' %></td>
      </tr>
    </table>


<% end %>
