<!DOCTYPE html>
<html>
<head>
  <title>Achates Capital Advisors, LLC</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/achatesadvisors/app/assets/stylesheets/my_styles.css" rel="stylesheet">
  <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script>
      tinymce.init({
          selector:'textarea',
          plugins: [
              "advlist autolink link lists charmap print preview hr anchor pagebreak spellchecker",
              "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
              "save table contextmenu directionality emoticons template paste textcolor"
          ]
      });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>




<div class="container  container-bg-white">
  <div class="row">
    <div class="col-md-4"><%= link_to 'Achates Capital Advisors, LLC', root_path, class: 'navbar-brand' %></div>
    <div class="col-md-8 masthead-address">
      <ul class="list-inline">
        <li><i class="fa fa-home"></i> <%= strip_tags(@contact_address) %></li>
        <li><i class="fa fa-phone"></i> <%= strip_tags(@contact_phone) %></li>
      </ul>
    </div>
  </div>
</div>


<div class="container container-bg-white">
  <!---  BEGIN MAIN CONTENT ROW -->
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= 'active' if current_page?root_path %>"><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About Us' %></li>
        <li><%= link_to 'Contact Us' %></li>
      </ul>
    </div>
    <div class="col-md-9">
      <%= yield %>

    </div>
  </div>
  <!---  END MAIN CONTENT ROW -->

</div> <!-- /container -->
<div class="container" id="footer">
  <ul class="list-inline">
    <li><i class="fa fa-home"></i> <%= strip_tags(@contact_address) %></li>
    <li><i class="fa fa-phone"></i> <%= strip_tags(@contact_phone) %></li>
  </ul>
</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
